* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

#home {
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 5rem;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

#home p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 600px;
    margin: 0 auto;
    color: #ffffff;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #cccccc;
}

.highlight1 {
    background-color: #ffd90071;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.highlight2 {
    background-color: #6faa1192;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.highlight2 {
    background-color: #6faa1192;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

body {
    display: flex;
    background-color: #302f2f;
    color: #e0e0e0;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 1rem;
}



section {
    padding: 2rem;
    border-bottom: 1px solid #444444;
}

section h2 {
    font-size: 2.2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

section p {
    font-size: 1rem;
    color: #aaaaaa;
}

#sidebar {
    width: 300px;
    background-color: #1c1c1c;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #cccccc;
    border-right: 2px solid #633838;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.profile-photo {
    width: 160px;
    height: 160px;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

nav a {
    background-color: #605e5e;
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    width: 80%;
    text-align: left;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #633838;
    color: #000000;
}

.icon {
    font-size: 1.8rem;
}

#content {
    flex: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-left: 300px;
}



.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: start;
}

.project-column {
    padding: 1rem;
    text-align: center;
    width: auto;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.project-column:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.project-column a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.project-column p {
    color: rgb(0, 0, 0);
    font-size: x-small;
}

.project-column img {
    width: 33%;
    height: auto;
    object-fit: contain;
}

#project1 {
    background-color: #ffd90071;
}

#project2 {
    background-color: #6faa1192;
}

#project3 {
    background-color: #a6cf29;
}



footer {
    background-color: #000000;
    color: #cccccc;
    text-align: center;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 2rem;
    font-size: small;
}

.footer-logos {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-logos img {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    text-align: center;
    padding-left: 2rem;
}

.sponsors {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-logo {
    width: auto;
    height: 50px;
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
    margin: 0;
}

.link {
    margin: 5%;
}

.experience {
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #444444;
    margin: 2rem 0;
    color: #fff;
}

.experience p {
    text-align: justify;
}

.experience-path {
    display: flex;
    flex-direction: column;
}

.education h2,
.experience h2 {
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: left;
}

.experience h3 {
    color: #f1f590;
    margin: 0 0 0.5rem;
    font-size: 1.4rem;
}

.experience-item {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #555;
    background-color: #222;
}

.experience-item ul {
    margin: 0.5rem 0;
    color: #ffffff;
    padding-left: 1.5rem;
    font-size: 1rem;
}

#geotrilho {
    color: rgb(51, 49, 161);
    text-decoration: none;

}

#geotrilho:hover {
    color: #ffffff;
    background-color: rgb(51, 49, 161);
    ;
    border-bottom: none;
    padding: 0.2rem 0.3rem;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.icon-grid img {
    width: 100%;
    background-color: #ffffff;
    padding: 1px;
    transition: transform 0.2s;
    object-fit: contain;
}

.icon-grid img:hover {
    transform: scale(1.05);
}

.icon-placeholder img {
    width: 100%;
    background-color: #ffffff;
    padding: 1px;
    transition: transform 0.2s;
    object-fit: contain;
}




@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .experience-item h3 {
        font-size: 1.2rem;
    }

    .footer-content {
        align-items: center;
        padding-left: 0;
    }

    .sponsors {
        justify-content: center;
    }

    #sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: auto;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        top: auto;
        padding: 0.5rem;
        z-index: 10;
    }

    .profile-container,
    nav a span {
        display: none;
        line-height: 9px;
    }

    nav {
        flex-direction: row;
        gap: 0.5rem;
    }

    nav a {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        padding: 0.5rem;
        line-height: 10%;
    }

    #content {
        margin-left: 0;
        margin-top: 60px;
        padding: 1rem;
    }

    #home h1 {
        font-size: 1.8rem;
    }

    #home p {
        font-size: 1rem;
    }

    .button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    #sidebar {
        height: auto;
        padding: 0.5rem;
        z-index: 10;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr !important;
        gap: 1rem;
        align-items: start;
    }

    #home h1 {
        font-size: 1.5rem;
    }

    #experience h2 {
        font-size: 1.5rem;
    }
    
    .experience-item {
        padding: 0.8rem;
    }

    
    #home p {
        font-size: 0.9rem;
    }

    .button {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }

    nav a {
        padding: 0.25rem;
        font-size: 0.8rem;
    }

    .profile-container,
    nav a span {
        display: none;
    }
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
    }

}